a{
    color: #333;
    text-decoration: none;
}



.header{
display: flex;
justify-content: space-between;
align-items: center;
max-width: 1024px;
margin: 0 auto;

}
.header-logo{

}

.header-item{
margin-left: 2.5rem;
font-size: 1.2rem;
}
/* about */
.about{
max-width: 800px;
margin: 120px auto 0px;
}
.cmn-title{
    text-align: center;
    font-weight: bold;
}
.sub-title{
        display: block;
        color: #38b6ff;
        
}
.main-title{
        display: block;
        font-size: 2rem;
}
.about-wrapper{
    display: flex;
    margin-top: 60px;
}
.about-image{

}
.about-text{
margin-left: 80px;
}
.about-greeting{

}
.greeting-desc{

}
.about-career{
    margin-top: 30px;

}
.about-subtitle{
font-size: 1.5rem;
color: #38b6ff;
margin-bottom: 0.5rem;
}
.career-list{
    list-style: disc;
}
.career-item{

}
/* skills */
.skill{
max-width: 1024px;
margin: 120px aut 0px;
}
.skill-list{
margin-top: 60px;
display: flex;
gap: 0 20px;
}
.skill-item{

}
.skill-image {
height: 180px;
text-align: center;
}
.skill-name{
font-size: 1.5rem;
font-weight: bold;
text-align: center;
}
.skill-desc{

}
.header-list{
    display: flex;
}
.footer{
background-color: gray;
padding: 30px 0px 10px;
}
.footer-list{
display: flex;
justify-content: space-between;
max-width: 400px;
margin: 0 auto;
}
.footer-item{

}
.copyright{
margin-top: 2rem;
text-align: center;
}